/*
.boton{
    background-color: #b6a74c;
    width: 120px;
    height: 50px;
}
.subtitulo{
    color: #73001a;
}
.link-quizas{
    background-color: #01334c;
}*/
/*font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    background-color: #010e15;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
    position: relative; }
  
.container {
    max-width: 1920px;
    margin: 0 auto; }
/*inicio header y navbar*/
header{
    background-color: transparent;
    padding: 10px 3em;
    margin-bottom: 10px; }
nav {
    background: transparent;
    
}
.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
a {
    color: #eeeeee;
    text-decoration: none;
}
.logo{
    font-weight: 700;
    font-size: 40px;
    order: 0;
    position: relative;
}
.logo::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #eeeeee;
    position: absolute;
    left: 120%;
    top: 50%;
}
a:hover {
    text-decoration: underline;
}
.logo a:hover {
    text-decoration: none;
}
.nav-item {
    font-size: 22px;
    padding: 15px 5px;
    white-space: nowrap;
    display: block;
    width: auto;
    order: 1;
}
.menu li{
    padding: 15px 10px;
}
.idiomas-container{
    word-spacing: 20px;
}
/*fin header y navbar*/
/*inicio hero-image*/
.hero-image{
    position: relative;
    height: 530px;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #eeeeee;
    font-weight: 700;
}
h1{
    font-size: 90px;
    letter-spacing: 0.1em;
    border: 6px solid #eeeeee;
    padding: 5px 12px;
}
.hero-container h1 span{
    display: inline-block;
}
.subtitulo{
    margin: 25px;
    display: block;
    font-size: 26px;
    text-shadow: 0 0 10px black;
    text-transform: uppercase;
}
.btn{
    background: #b6a74c;
    color: #010e15;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s all;
}
.btn:hover{
    opacity: 0.8;
}
/*fin hero-image*/
main{
    background-image: url(fondo-tripba1.svg);
}
/*inicio about section*/
.sectionContainer{
    height: 200px;
    padding: 1em 4em;
}
.sectionTitle{
    color: #73001a;
    font-weight: 400;
    font-size: 40px;
    text-align: left; 
    /*border-top: 1px solid #73001a;*/
    padding-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1.2px solid #73001a;
}
.sectionContent{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    padding: 1.5em 0;
}
.sectionContent p{
    color: #eeeeee;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-left: 2em;
    word-break: break-all;
    padding-top: 0.5em;
}
.sectionContent i{
    font-size: 120px;
    padding-top: 0.7em;
    padding-left: 0.4em;
    text-align: center;
    color: #b6a74c;
}




